<ion-view title="시험 목록">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <h3>볼 수 있는 시험 목록</h3>
        <ion-spinner icon="android" ng-show="nowQuizLoading === true"></ion-spinner>
        <div ng-show="nowQuizLoading === false && quizList.length === 0">
          볼 수 있는 시험이 현재 없습니다.
        </div>
        <div class="card" ng-repeat="quiz in quizList" ng-click="moveQuiz(quiz.id)">
          <div class="item item-divider">{{quiz.title}}</div>
          <div class="item item-text-wrap">
            문제 갯수: {{quiz.questions.length}}
          </div>
        </div>
    </ion-content>
</ion-view>
